<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration form</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Registration form</h1>
    </div>
    {{{content}}}
  </div>
</body>
</html>