<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DinDin Mobile Website</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <a href="/" id="logo"><img src="/images/logo.png" alt="logo"></a>
  {{#if user}}
    <a href="/logout" class="header-button">Logout</a>
    <a href="/create" class="header-button">Create</a>
  {{else}}
    <a href="/login" class="header-button">Login</a>
  {{/if}}
</header>
{{{content}}}
<footer><p>&copy; 2015 DinDin</p></footer>
</body>
</html>